.app__contact {
  margin-top: 1rem;
  display: flex;
  flex: 1;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .head-text {
    margin: 2rem 0;
    margin-bottom: 0;
    font-size: 4rem;
    font-weight: 700;
    text-transform: capitalize;
    @media screen and (max-width: 600px) {
      margin: 1rem 0;
      font-size: 3rem;
      font-weight: 600;
    }
  }
}

.app__contact-cards {
  width: 60%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  margin: 4rem 15rem;
  margin-bottom: 0;

  .app__contact-card {
    min-width: 290px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    margin: 1rem 0;
    margin-bottom: 0;
    padding: 1rem;
    border-radius: 10px;
    cursor: pointer;
    background-color: rgb(63, 62, 62);
    color: white;
    font-size: 1rem;
    transition: all 0.5s ease-in-out;

    img {
      height: 40px;
      width: 40px;
      margin: 0 0.7rem;
    }
    a {
      text-decoration: none;
      font-weight: 900;
    }
    &:hover {
      font-size: 1.2rem;
      background-color: yellow;
      color: black;
      font-weight: 600;
    }
    @media screen and (max-width: 450px) {
      width: 100%;
    }
  }
  @media screen and (max-width: 750px) {
    width: 100%;
  }
}

.app__contact-container {
  width: 80%;
  margin-top: 3rem;
  display: flex;
  flex-direction: row;

  @media screen and (max-width: 900px) {
    width: 100%;
    flex-direction: column;
  }
}

.app__contact-list {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  .contact {
    display: flex;
  }

  @media screen and (max-width: 900px) {
    margin-right: 0;
    justify-content: center;
    align-items: center;
  }
}

.app__contact-item {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-weight: 900;
  margin: 0rem 3rem 3rem 1rem;
  transition: all 0.3s ease-in-out;

  div {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background-color: rgb(63, 62, 62);
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 50%;
      height: 50%;
      transition: all 0.3s ease-in-out;
    }
    &:hover {
      font-size: 1.2rem;
      background-color: yellow;
      color: black;
      img {
        width: 80%;
        height: 80%;
      }
    }
    @media screen and (min-width: 2000px) {
      width: 150px;
      height: 150px;
    }
    @media screen and (max-width: 1200px) {
      width: 70px;
      height: 70px;
    }
  }
  @media screen and (min-width: 2000px) {
    margin: 1rem 2rem;

    p {
      margin-top: 1rem;
    }
  }
}

.app__contact-form {
  display: flex;
  width: 60%;
  flex-direction: column;
  margin: 1rem 15rem;
  margin-bottom: 5rem;
  .form_start {
    display: flex;
  }

  div {
    width: 100%;
    margin: 0.75rem 0;
    border-radius: 10px;
    cursor: pointer;
    background-color: rgb(63, 62, 62);
    transition: all 0.3s ease-in-out;
    
    input,
    textarea {
        width: 100%;
        padding: 0.95rem;
        border: 0.2px rgb(169, 164, 164) solid;
        border-radius: 7px;
        font-size: large;
        outline: none;
        color: white;
        &:hover{
            color: black;
            border: 2px white solid;
        }
    }
    textarea {
        height: 170px;
    }
    &:hover {
        background-color: rgb(133, 133, 7);
        color: black;
      font-size: 1.2rem;
      font-weight: 600;
    }
  }
  button {
    padding: 1rem 2rem;
    border-radius: 10px;
    border: none;
    background-color: rgb(63, 62, 62);

    font-weight: 500;
    color: var(--white-color);
    outline: none;
    margin: 2rem 0 0 0;
    transition: all 0.5s ease-in-out;
    &:hover {
      font-size: 1.2rem;
      background-color: yellow;
      color: black;
      font-weight: 600;
    }
  }
  @media screen and (max-width: 750px) {
    width: 100%;
    margin: 1rem 0;
    margin-bottom: 4rem;
  }
}
.thanks{
  margin-bottom: 3rem;
}